---
import minifestPrincesaGabriela from '../assets/minifest-princesa-gabriela.png'
import SectionTitulo from './SectionTitulo.astro'

---
<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <SectionTitulo nombre1="Colaboradores" />
   
    <div
        class="mx-auto mt-20 grid max-w-max grid-cols-1 place-content-center gap-x-32 gap-y-12 sm:grid-cols-3 md:gap-x-16 lg:gap-x-32"
    >
        <div class="flex items-center justify-center">
            <img
                alt="Transistor"
                loading="lazy"
                width="158"
                height="48"
                decoding="async"
                data-nimg="1"
                style="color:transparent"
                src={minifestPrincesaGabriela.src}
            />
        </div>
        <div class="flex items-center justify-center">
            <img
                alt="Transistor"
                loading="lazy"
                width="158"
                height="48"
                decoding="async"
                data-nimg="1"
                style="color:transparent"
                src={minifestPrincesaGabriela.src}
            />
        </div>
        <div class="flex items-center justify-center">
            <img
                alt="Transistor"
                loading="lazy"
                width="158"
                height="48"
                decoding="async"
                data-nimg="1"
                style="color:transparent"
                src={minifestPrincesaGabriela.src}
            />
        </div>
        <div class="flex items-center justify-center">
            <img
                alt="Transistor"
                loading="lazy"
                width="158"
                height="48"
                decoding="async"
                data-nimg="1"
                style="color:transparent"
                src={minifestPrincesaGabriela.src}
            />
        </div>
        <div class="flex items-center justify-center">
            <img
                alt="Transistor"
                loading="lazy"
                width="158"
                height="48"
                decoding="async"
                data-nimg="1"
                style="color:transparent"
                src={minifestPrincesaGabriela.src}
            />
        </div>
        <div class="flex items-center justify-center">
            <img
                alt="Transistor"
                loading="lazy"
                width="158"
                height="48"
                decoding="async"
                data-nimg="1"
                style="color:transparent"
                src={minifestPrincesaGabriela.src}
            />
        </div>
    </div>
</div>