---
import minifestPrincesaGabriela from '../assets/minifest-princesa-gabriela.png'

---

<div
				class="grid grid-cols-1 gap-x-8 gap-y-10 data-selected:not-data-focus:outline-hidden sm:grid-cols-2 sm:gap-y-16 md:grid-cols-3"
			>
				<div>
					<div class="group relative h-[17.5rem] transform overflow-hidden rounded-4xl">
						<div
							class="absolute top-0 right-4 bottom-6 left-0 rounded-4xl border border-blue-300 transition duration-300 group-hover:scale-95 xl:right-6"
						>
						</div>
                        <div class="absolute inset-0 bg-indigo-50" >
							<img
								alt=""
								
								width="1120"
								height="560"
								class="absolute inset-0 h-full w-full object-cover transition duration-300 group-hover:scale-110"
								src={minifestPrincesaGabriela.src}
							/>
						</div>
					</div>
                    <h3 class="font-display mt-8 text-xl font-bold tracking-tight text-slate-900">
						Princesa Gabriela
					</h3>
                    <p class="mt-1 text-base tracking-tight text-slate-500">
						Principal Protagonista
					</p>
				</div>
                <div>
					<div class="group relative h-[17.5rem] transform overflow-hidden rounded-4xl">
						<div
							class="absolute top-0 right-4 bottom-6 left-0 rounded-4xl border border-indigo-300 transition duration-300 group-hover:scale-95 xl:right-6"
						>
						</div>
                        <div class="absolute inset-0 bg-indigo-50" style="clip-path:url(#:R57qfja:-1)">
							<img
								alt=""
								fetchpriority="high"
								width="1120"
								height="560"
								decoding="async"
								data-nimg="1"
								class="absolute inset-0 h-full w-full object-cover transition duration-300 group-hover:scale-110"
								style="color:transparent"
								sizes="(min-width: 1280px) 17.5rem, (min-width: 1024px) 25vw, (min-width: 768px) 33vw, (min-width: 640px) 50vw, 100vw"
								src={minifestPrincesaGabriela.src}
							/>
						</div>
					</div>
                    <h3 class="font-display mt-8 text-xl font-bold tracking-tight text-slate-900">
						Jaquelin Isch
					</h3>
                    <p class="mt-1 text-base tracking-tight text-slate-500">UX Design at InGen</p>
				</div>
                <div>
					<div class="group relative h-[17.5rem] transform overflow-hidden rounded-4xl">
						<div
							class="absolute top-0 right-4 bottom-6 left-0 rounded-4xl border border-sky-300 transition duration-300 group-hover:scale-95 xl:right-6"
						>
						</div><div class="absolute inset-0 bg-indigo-50" style="clip-path:url(#:R57qfja:-2)">
							<img
								alt=""
								fetchpriority="high"
								width="1120"
								height="560"
								decoding="async"
								data-nimg="1"
								class="absolute inset-0 h-full w-full object-cover transition duration-300 group-hover:scale-110"
								style="color:transparent"
								sizes="(min-width: 1280px) 17.5rem, (min-width: 1024px) 25vw, (min-width: 768px) 33vw, (min-width: 640px) 50vw, 100vw"
								src={minifestPrincesaGabriela.src}
							/>
						</div>
					</div><h3 class="font-display mt-8 text-xl font-bold tracking-tight text-slate-900">
						Dianne Guilianelli
					</h3><p class="mt-1 text-base tracking-tight text-slate-500">
						General Manager at Initech
					</p>
				</div>
                <div>
					<div class="group relative h-[17.5rem] transform overflow-hidden rounded-4xl">
						<div
							class="absolute top-0 right-4 bottom-6 left-0 rounded-4xl border border-blue-300 transition duration-300 group-hover:scale-95 xl:right-6"
						>
						</div><div class="absolute inset-0 bg-indigo-50" style="clip-path:url(#:R57qfja:-0)">
							<img
								alt=""
								fetchpriority="high"
								width="1120"
								height="560"
								decoding="async"
								data-nimg="1"
								class="absolute inset-0 h-full w-full object-cover transition duration-300 group-hover:scale-110"
								style="color:transparent"
								sizes="(min-width: 1280px) 17.5rem, (min-width: 1024px) 25vw, (min-width: 768px) 33vw, (min-width: 640px) 50vw, 100vw"
								src={minifestPrincesaGabriela.src}
							/>
						</div>
					</div><h3 class="font-display mt-8 text-xl font-bold tracking-tight text-slate-900">
						Ronni Cantadore
					</h3><p class="mt-1 text-base tracking-tight text-slate-500">
						Design Engineer at Weyland-Yutani
					</p>
				</div>
                <div>
					<div class="group relative h-[17.5rem] transform overflow-hidden rounded-4xl">
						<div
							class="absolute top-0 right-4 bottom-6 left-0 rounded-4xl border border-indigo-300 transition duration-300 group-hover:scale-95 xl:right-6"
						>
						</div><div class="absolute inset-0 bg-indigo-50" style="clip-path:url(#:R57qfja:-1)">
							<img
								alt=""
								fetchpriority="high"
								width="1120"
								height="560"
								decoding="async"
								data-nimg="1"
								class="absolute inset-0 h-full w-full object-cover transition duration-300 group-hover:scale-110"
								style="color:transparent"
								sizes="(min-width: 1280px) 17.5rem, (min-width: 1024px) 25vw, (min-width: 768px) 33vw, (min-width: 640px) 50vw, 100vw"
								src={minifestPrincesaGabriela.src}
							/>
						</div>
					</div><h3 class="font-display mt-8 text-xl font-bold tracking-tight text-slate-900">
						Erhart Cockrin
					</h3><p class="mt-1 text-base tracking-tight text-slate-500">
						Product Lead at Cyberdyne Systems
					</p>
				</div>
                <div>
					<div class="group relative h-[17.5rem] transform overflow-hidden rounded-4xl">
						<div
							class="absolute top-0 right-4 bottom-6 left-0 rounded-4xl border border-sky-300 transition duration-300 group-hover:scale-95 xl:right-6"
						>
						</div><div class="absolute inset-0 bg-indigo-50" style="clip-path:url(#:R57qfja:-2)">
							<img
								alt=""
								fetchpriority="high"
								width="1120"
								height="560"
								decoding="async"
								data-nimg="1"
								class="absolute inset-0 h-full w-full object-cover transition duration-300 group-hover:scale-110"
								style="color:transparent"
								sizes="(min-width: 1280px) 17.5rem, (min-width: 1024px) 25vw, (min-width: 768px) 33vw, (min-width: 640px) 50vw, 100vw"
								src={minifestPrincesaGabriela.src}
							/>
						</div>
					</div><h3 class="font-display mt-8 text-xl font-bold tracking-tight text-slate-900">
						Parker Johnson
					</h3><p class="mt-1 text-base tracking-tight text-slate-500">UI Designer at MomCorp</p>
				</div>
			</div>